<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>Chorchain | Audit</title>

    <script src="lib/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.6/dist/web3.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/abi-decoder@1.2.0/dist/abi-decoder.js" crossorigin="anonymous"></script>


    <!-- Modeler import -->
    <link rel="stylesheet" href="css/diagram-js-preview.css" />
    <link rel="stylesheet" href="vendor/bpmn-js/assets/bpmn-font/css/bpmn.css" />
    <link rel="stylesheet" href="vendor/chor-js/font/include/css/choreography.css" />

    <!-- Sweet alert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">

    <!-- graphics -->
    <link rel="stylesheet" href="css/unicons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="css/tooplate-style.css">

    <link rel="stylesheet" href="css/querying.css">

</head>

<body ng-app="querying" ng-controller="auditController" ng-cloak>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light" data-ng-init="setUser()">
        <div class="container">

            <img src="ChorChain_logo.png" width="150" height="52" alt="ChorChain logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="homePage.html" class="nav-link"><span data-hover="Home Page">Home Page</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="modeler.html" class="nav-link"><span data-hover="Modeler">Modeler</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="deploy.html" class="nav-link"><span data-hover="Personal Page">Personal Page</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="querying.html" class="nav-link"><span data-hover="Querying">Querying</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="audit.html" class="nav-link active"><span data-hover="Audit">Audit</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>





    <div class="container-fluid" style="padding-top: 16px;">
        <div class="row" data-ng-init="getModels()">

            <div class="col-lg-3" ng-show="models" ng-cloak>
                <h5 mb-3>Model File List</h5>
                <ul class="list-group">
                    <li class="list-group-item" style="cursor:pointer" ng-repeat="model in models">
                        <a ng-click="selectModel(model)" class="nav-link">{{model.name}}</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6" ng-show="selectedModel">
                <!-- <div class="row"> -->
                    <h5 class="col-md-10">{{selectedModel.name}}</h5>
                    <!-- <a class="col-md-2 link messages-link">Messages</a> -->
                <!-- </div> -->
                <div class="mb-2">Uploaded by: {{selectedModel.uploadedBy}}</div>
                <!-- <div>All roles: <span ng-repeat="role in selectedModel.roles">{{role}} </span></div> -->
                <table ng-if="subscriptions != null" class="subscription-table mb-2">
                    <tr>
                        <th ng-repeat="role in subscriptionKeys">{{role}}</th>
                    </tr>
                    <tr>
                        <td ng-repeat="role in subscriptionKeys">
                            <div ng-repeat="item in subscriptions[role]">
                                <small>{{item.actor}} (x {{item.times}})</small>
                            </div>
                        </td>
                    </tr>
                </table>

                <div id="canvas" style="height: 300px; border: 1px solid lightgray;"></div>
            </div>

            <div class="col-lg-3" ng-show="selectedModel">
                <h5>Model instances</h5>
                <div class="alert custom-alert-yellow mt-3" ng-if="selectedModel.instances.length == 0">
                    There are no instances for this model
                </div>

                <div class="mb-3">
                    Instances completed: {{completedInstances}}/{{totalInstances}}
                    ({{completedInstancesPercentage}}%)
                </div>

                <div class="mb-3" ng-if="completedInstances > 0">
                    <div>Execution time</div>
                    <small>
                        <span>Max. {{instancesMaxExecutionTime}}s</span>
                        <span class="ml-3">Min. {{instancesMinExecutionTime}}s</span>
                        <span class="ml-3">Av. {{instancesAverageExecutionTime}}s</span>
                    </small>
                </div>

                <div class="mb-3">
                    <div>Total gas used</div>
                    <small>
                        Max. {{instancesMaxGasUsed}}
                        <span class="ml-3">Min. {{instancesMinGasUsed}}</span>
                        <span class="ml-3">Av. {{instancesAverageGasUsed}}</span>
                    </small>
                </div>

                <div ng-repeat="instance in selectedModel.instances">
                    <div class="card card-body" style="cursor:pointer; margin-bottom: 8px;"
                        ng-if="instance.visibleAt == 0 || instance.visibleAt.indexOf(user.address) > -1">
                        <div class="instance-title">
                            <img class="icon" src="resources/icons/ic_completed.png"
                                ng-if="instance.deployedContract.isCompleted" />
                            <img class="icon" src="resources/icons/ic_processing.png"
                                ng-if="!instance.deployedContract.isCompleted" />
                            <div><a class="nav-link">{{instance.id}}</a></div>
                        </div>
                        <div>
                            <small>
                                <div>created By:</div>
                                <div>{{instance.createdBy}}</div>
                            </small>
                        </div>
                        <div>
                            <small>
                                <div>contract:</div>
                                <div>{{instance.deployedContract.address ? instance.deployedContract.address : '-'}}
                                </div>
                            </small>
                        </div>
                        <div class="mt-2">
                            <small>
                                <div>Total gas used: {{instance.totalGasUsed ? instance.totalGasUsed : '-'}}</div>
                            </small>
                        </div>
                        <div class="mt-2">
                            <small>
                                <a ng-click="showTransactions(instance.deployedContract.transactions)" class="link"
                                    ng-if="instance.deployedContract.transactions">Transacions</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!-- Spinner overlay -->
    <div class="spinner-container" ng-if="isRetrievingData">
        <div class="spinner"></div>
        <div>Retrieving data...</div>
    </div>




    <div class="dialog-container" ng-if="isShowingTransactionsDialog">
        <div class="dialog">
            <div class="dialog-title">Transactions</div>
            <div class="dialog-content" style="overflow-y: scroll;">
                <div ng-repeat="transaction in selectedTransactions" class="transaction-item">
                    <div class="mb-1"><b>{{transaction.hash}}</b></div>
                    <div class="mb-1" ng-if="transaction.gasUsed">GasUsed: {{transaction.gasUsed}}</div>
                    <div class="mb-1" ng-if="transaction.value">Value: {{transaction.value}}</div>
                    <div class="mb-1" ng-if="transaction.from">From: {{transaction.from.address}}</div>
                    <div class="mb-1" ng-if="transaction.to">To: {{transaction.to.address}}</div>
                    <div class="mb-1" ng-if="transaction.block.timestamp">Timestamp: {{transaction.block.timestamp}}
                    </div>
                    <div ng-if="transaction.decodedInput">Message: {{transaction.decodedInput}}</div>
                </div>
            </div>
            <div class="dialog-actions">
                <button class="btn btn-primary" ng-click="closeTransactionsDialog()">Ok</button>
            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>


    <script src="lib/querying/graphql-client-service.js"></script>
    <script src="lib/audit/audit-controller.js"></script>
    <script src="lib/appmodeler.js"></script>
    <script src="lib/app.js"></script>

</body>

</html>