<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Deploy of smart contract</title>
<script
	src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"
	integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk="
	crossorigin="anonymous"></script>	
	<script src="lib/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
  <!-- graphics -->
  <link rel="stylesheet" href="css/unicons.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <!-- MAIN STYLE -->
  <link rel="stylesheet" href="css/tooplate-style.css">
  
<!-- Modeler import -->
		<link rel="stylesheet" href="css/diagram-js-preview.css" />
		<link rel="stylesheet" href="vendor/bpmn-js/assets/bpmn-font/css/bpmn.css" />
		<link rel="stylesheet" href="vendor/chor-js/font/include/css/choreography.css" />
<!-- Modeler end import -->
	<!-- Sweet alert -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">

<style>
.highlight-overlay {
  background-color: green; /* color elements as green */
  opacity: 0.4;
  pointer-events: none; /* no pointer events, allows clicking through onto the element */
}
.bjs-powered-by{
display: none;
}

.djs-palette two-column open{
display: none;
}

.set-active {
background:black;
}
</style>

</head>
<body id="controllerBody" ng-app="monitor" ng-controller="monitorCtrl" ng-cloak>
<!-- MENU -->
  <nav class="navbar navbar-expand-sm  navbar-light bg-light" data-ng-init="setUser()">
    <div class="container">
       <!-- <a class="navbar-brand" href="index.html"></i> ChorChain</a>--->
      	<img src="ChorChain_logo.png" width="150" height="52" alt="ChorChin logo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="homePage.html" class="nav-link"><span data-hover="Home Page">Home Page</span></a>
          </li>
          <li class="nav-item">
            <a href="modeler.html" class="nav-link"><span data-hover="Modeler">Modeler</span></a>
          </li>
          <li class="nav-item">
            <a href="deploy.html" class="nav-link active"><span data-hover="Personal Page">Personal Page</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class=" d-lg-flex justify-content-center align-items-center">
    <div class="container-fluid">			
		<div class="row">
			<div class="col-lg-3">
	          <div class="card">
	            <div class="card-body" ng-cloak>
	            	<h6>Model File List</h6>
		              <ul class="list-group ">
		                <li class="list-group-item" ng-repeat="contract in contracts track by $index">
		                  <a ng-click="getTask(contract.id); getPast()" class="nav-link" id="{{contract.id}}" style="cursor:pointer">{{contract.name}}
		                  <small class="text-muted">{{contract.id}}</small></a>
		                </li>
		              </ul>
	            </div>
	           </div>
	        </div>
				
			<div class="col-lg-9">
			<div class="card">
			<div class="card-body" ng-cloak>

			 <h5>{{actualContract.name}}</h5>
				<div class="col-12">
						<div id="canvas" style="height: 400px;"></div>		
				</div>
									<div class="row">
										<div class="col-9" ng-cloak>
								 			<button type="button" style="display: none"  id="js-preview" data-value="{{actualContract.name}}"></button> 
											<div>Contract deployed:  {{actualContract.address}}  visible at: <a href="https://rinkeby.etherscan.io/address/{{actualContract.address}}"> etherscan.io</a></div>
											<ul class="list-group">
												<li class="list-group-item my-2" ng-repeat="msg in msgs" ng-if="msg.status == 'Enabled'">
																									
													{{actualContract.tasks[$index]}}<div class="float-right"> Status: {{msg.status}}</div>
													{{currentRole}}
													
													<form class="mt-3" ng-if="msg.show==1 && actualContract.participants[currentRole] == user.id">
														<div class="form-group">
															<input type="text" class="form-control" placeholder="Function input" ng-model="param" >
															<div ng-show="payment == true" >
															<input type="text" class="form-control" placeholder="Amount to send" ng-model="amount" >
															</div>
														</div>
														<input type="submit" class="btn btn-primary" value="Submit" ng-click="launch(msg.ID, $index, contract.id, param, amount)" id="submitbtn">
													</form>
													<div ng-if="msg.show==1 && actualContract.participants[currentRole] != user.id">Waiting for the incoming message</div>
												</li>
												<!--<li class="list-group-item my-2">
												<b>Subscribe as a participant</b>
												<form class="mt-3">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Role to sub" ng-model="sendParams.par" >
													</div>
													<input type="submit" class="btn btn-primary" value="Submit" ng-click="subscribe()" id="submitbtn">
												</form>
												</li>--->
											</ul>
										</div>
										<!---<div class="col-3">
											<ul class="list-group">
												<li class="list-group-item" ng-repeat="data in memory track by $index">{{valueNames[$index]}}: {{data}}</li>
											</ul>
										</div>--->
									</div>
								</div>
							</div>
						</div>
					</div>
		<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table">
					<thread>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Transaction Hash</th>
							<th scope="col">Sent from</th>
							<th scope="col">Gas limit</th>
							<th scope="col">Gas price</th>
							<th scope="col">Transaction time</th>
						</tr>
					</thread>
					<tbody>
					<tr ng-repeat="transaction in transactionHistory track by $index">
						<th scope="row">{{$index + 1}} </th>
						<td>{{transaction.hash}}</td>
						<td>{{transaction.from}}</td>
						<td>{{transaction.gas}}</td>
						<td>{{transaction.gasPrice}}</td>
						<td>{{transaction.time}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
				</div>
			</div>
			</div>

	  </div>


		</div>
	</section>
	<div class="modal fade" role="dialog" id="auditing">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="msg in msgToShow track by $index">{{msg.name}} : {{msg.value}} <br></li>
				</ul>
                Transaction hash : {{transactionToShow.hash}} <br>
                Sent from : {{transactionToShow.from}} <br>
                Transaction gas limit : {{transactionToShow.gas}} <br>
                Transaction gas price : {{transactionToShow.gasPrice}} <br>
                Block mine time :{{transactionToShow.time}}
			</div>
		</div>
	</div>
	</div>
	<script src="lib/app.js"></script>
	<script src="lib/controller.js"></script>
	<script src="lib/service.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.js"></script>
	<script src="lib/appmodeler.js"></script>
	
</body>

<script>
$(document).on("click", ".nav-link", function() {
	$( "#js-preview" ).trigger( "click" );
});

var accountInterval = setInterval(function () {
	$('.djs-group').dblclick(function(e){
		taskid = e.currentTarget.childNodes[0].dataset.elementId;
		var task = e.currentTarget.childNodes[0].dataset.elementId;
		$('#auditing').modal('show');
		angular.element(document.getElementById('controllerBody')).scope().selectTransactionToShow(task);
	});
}, 100);

function setTabActive(contractid){
	//console.log(contractid);
	tablinks = document.getElementsByClassName("list-group-item");
	  for (i = 0; i < tablinks.length; i++) {
	    tablinks[i].className = tablinks[i].className.replace("bg-grey", "");
	  }
	  document.getElementById(contractid).parentNode.classList.add('bg-grey');
}

var app = angular.module('monitor', ['ngCookies']);

app.controller("monitorCtrl",function($scope, $http, $cookies, $window) {
	
	$scope.user = {};
	$scope.sendParams = {};
	$scope.contracts = {};
	$scope.tasks = {};
	//var web3 = new Web3("http://193.205.92.133:8545");
    var web777 = new Web3("ws://193.205.92.133:8546");
    $scope.actualContract = {};
    $scope.myContract = {};
    $scope.abi = {};
    $scope.inputs = {};
    $scope.memory = {};
 	$scope.msgs = {};
 	$scope.singleMemory = null;
 	$scope.index = null;
 	$scope.valueNames = {};
 	$scope.currentRole = "";
 	$scope.activeSid ="";
    $scope.payment = false;
    $scope.transactionHistory = [{hash:"", from:"", gas:"", gasPrice:"", time:"", blockNumber:"", sid:""}];
	$scope.msgToShow = [{name:"", value:""}];
	$scope.transactionToShow = {};
	

	//var myContract = new web3.eth.Contract(JSON.parse($scope.contract.abi), $scope.contract.address);



$scope.launch =  async function(task, $index, refresh, parameter, amount){
	$( "#submitbtn" ).prop("disabled",true);
	var am = amount;

		var params = parameter;
		var name = $scope.actualContract.tasks[$index];
		//console.log(name);
		if(name.includes("payment")){
	
			var complete = task + '(address)';
			var replaced = complete.replace(/-/g,'_');
			//console.log($scope.myContract.methods);
			
			var parArray = [];
			parArray.push(parameter);
			var newAmount = web3.utils.toWei(amount, 'ether');
			
			$scope.myContract.methods[replaced].apply(this, parArray).send({
				from : $scope.user.address,
				value: newAmount,
				gas: 200000,
			}).then(function(error, receipt){
				$scope.payment = false;
				removehighlightmsg($scope.activeSid);
				if(error) {
					$( "#submitbtn" ).prop("disabled",false);
				} 
			});
			
		}else{
			var n1 = name.split('\(');
			//var n2 = n1.split(',');
			var n3 = n1[1].split(' ');
	
			var complete = task + '(';

			for(var i in n3){
	
				if(n3[i] == 'uint' || n3[i] == 'string' || n3[i] == 'bool'){
					if(n3[i] == 'uint'){
						n3[i] = 'uint256';
					}
					complete += n3[i] + ' , ';
				
				}
			}
			var addPar = complete.split(' ');
		 	
			addPar.pop();
			addPar.pop();
			
			complete = "";
			for(i in addPar){
				complete += addPar[i];
			}
			complete += ')';
			//console.log(complete);
			var replaced = complete.replace(/-/g,'_');
			//console.log(replaced);
			for(var method in $scope.myContract.methods){
				//console.log(method);
				if(method == replaced){
					//await unlock();
					var parArray = [];
					if(parameter.includes(',')){
						//var a = parameter;
						parArray = parameter.split('\,');
					}
					else{
						if(parameter.includes("true")){
							parameter = true;
							//console.log(typeof parameter);
						}else if(parameter.includes("false")){
							parameter = false;
						}
						parArray.push(parameter);
					}
					//console.log(parArray);
					
					try {
						
							//console.log("no payment");
							$scope.myContract.methods[method].apply(this, parArray).send({
								from : $scope.user.address,
								gas: 200000,
							}).then(function(error, receipt){
								removehighlightmsg($scope.activeSid);
								if(error) {
									$( "#submitbtn" ).prop("disabled",false);
								} 
							//	console.log(error);
										//console.log(receipt);
									//	$scope.getTask(refresh);
							});
						
					} catch(e){
						Swal.fire(
						  'Bad input!',
						  'You inserted a wrong type value!',
						  'error'
						);
						$( "#submitbtn" ).prop("disabled",false);
					}
				}
			}
		}
	}
	
	
	
	$scope.getUserContracts = function(){
		
		
		$http.post("rest/getCont/" + $cookies.get('UserId')).then(function(response){
			$scope.contracts = response.data;
			//console.log($scope.contracts);
		});
	}
	
	$scope.getSingleMem = function(){
		//for(var i in $scope.memory){
		//console.log(i);
		//}
		
		$scope.singleMemory = $scope.memory[$scope.index];
		//console.log($scope.singleMemory);
	}
	
	$scope.getTask = function(id){
		//$scope.transactionHistory = {};

		setTabActive(id);
		//id è l'id dell instance
		//qui prendo i participants
		$http.post("rest/getPart/" + id).then(function(response){
			//console.log(response);
			$scope.actualContract.participants = response.data;
		});
		
		$scope.msgs = null;
		$scope.memory = null;
		//parameter = null;
		//console.log($scope.msgs);
		for(var i in $scope.contracts){
			if($scope.contracts[i].id == id){
				$scope.actualContract =  $scope.contracts[i].deployedContract;
				$scope.actualContract.name = $scope.contracts[i].name;
				
				$scope.tasks = $scope.actualContract.tasks;
				$scope.valueNames = $scope.actualContract.varNames;

				break;
			}
		}
		$scope.abi = JSON.parse($scope.actualContract.abi);
		$scope.myContract = new web3.eth.Contract($scope.abi, $scope.actualContract.address);
		//

		$scope.myContract.methods.getCurrentState().call().then(function(receipt){
			$scope.$apply(function(recepit){
				$scope.msgs = receipt[0];
				$scope.memory = receipt[1];
				//console.log($scope.msgs);
				$scope.setRoleActive();
				sub(id);
			});

			
		});
	}
	
	
	$scope.setUser = function(){
		$http.post("rest/getUserInfo/" + $cookies.get('UserId')).then(function(response){
		
			$scope.user = response.data;
			//console.log($scope.user);
		});
	}
	
	async function unlock(){
		//console.log($scope.user);
		//TODO java method. optional: rimettere psw quando tento di sbloccare account $scope.user.address
		/*$http.post("rest/getUserInfo/").then(function(response){
			 web3.eth.personal.unlockAccount(
					response.data.address, response.data.privateKey)
					.then(console.log('Account unlocked'));
		});*///console.log($scope.user.address);
		await web3.eth.personal.unlockAccount($scope.user.address
					, $scope.user.privateKey, 10000)
					.then(console.log('Account unlocked'));
	}
	
		function sub1(refresh){
			//console.log("i'm the sub starting");
		for(var type in $scope.abi){
			if($scope.abi[type].name=="stateChanged"){
				$scope.inputs = $scope.abi[type].inputs;
			}
		}
		const subscription = web777.eth.subscribe('logs', {
		    //address: $scope.actualContract.address,
		    address : $scope.actualContract.address,
		    topics: ['0x8fd8f487a1d703cca2ded1250c8e7c8c1ae6f0b6cdc81883a282e0863a6d7283']//prendere da bytecode
		}, function(error, result){
			//console.log("inside sub on callback");
			 if (!error) {
				 	//console.log("inside sub on good");
			        const eventObj = web3.eth.abi.decodeLog(
			            $scope.inputs,
			            result.data,
			            result.topics
			          )
			        $scope.actualContract =  null;
					$scope.tasks = null;
					$scope.valueNames = null;
			     //   $scope.getTask(refresh);
			      //  $scope.getTask(refresh);
			       
			      }
			 else
				 console.log(error);    
			});
		}
		
	

	$scope.getPast = function(){
		$scope.transactionHistory = [{}];
		$scope.myContract.getPastEvents('functionDone', {
		    fromBlock: 0,
		    toBlock: 'latest'
		}, (error, result) => { })
		.then((result) => {
			var events = result;
            var eventSid = [];
            var callBackCount = 0;
			for(var ev in events){
              eventSid.push(events[ev].returnValues[0]);
                var hash = events[ev].transactionHash;
				web3.eth.getTransaction(hash).then(function(resultTransaction){
					//console.log(resultTransaction);
					var transac = {hash:resultTransaction.hash,
						from:resultTransaction.from, gas:resultTransaction.gas, gasPrice:resultTransaction.gasPrice,
						time:"", blockNumber: resultTransaction.blockNumber, sid: ""};
                    //console.log(transac);
                    web3.eth.getBlock(resultTransaction.blockNumber).then(function (result) {
						var time = result.timestamp;
						var date = new Date(time * 1000);
						transac.time = date;
						transac.sid = eventSid[callBackCount];
						callBackCount++;
                        console.log(callBackCount);
                        $scope.$apply(function(receipt){
							$scope.transactionHistory.push(transac);
                            console.log($scope.transactionHistory);
                        });
					});
				});
			}
			$scope.transactionHistory.shift();
	});
	}

	/*$scope.getTransactionTime = function(){
		$scope.transactionHistory.pop();
		for(var i in $scope.transactionHistory) {
				web3.eth.getBlock($scope.transactionHistory[i].blockNumber).then(function (result) {
					console.log(result);
					var time = result.timestamp;
					var date = new Date(time);
						$scope.transactionHistory[i].time = date;
				});
		}
	}*/

	//First part takes the clicked object id and shows the sent variable
	$scope.selectTransactionToShow = function(messageId){
		$scope.msgToShow = [{}];
        $scope.transactionToShow = {};
		for(var i in $scope.msgs){
			if( $scope.msgs[i].ID == messageId){
				var functionParams = $scope.actualContract.tasks[i];

                if(!functionParams.includes("(")){
                    break;
                }
                var parSplit = functionParams.split("(");
				var noPar = parSplit[1].replace('\)', '');
				if(noPar.includes(",")){
					var virgSplit = noPar.split(',');
					for(var i in virgSplit){
						var onlyName = [];
						var index = virgSplit[i];
						onlyName = index.split(" ");
						for(var e in onlyName){
							if(onlyName[e] == ""){
								onlyName.splice(e, 1);
							}
						}
						$scope.$apply(function(scop){
							var completeToShow = {"name": index, "value" : $scope.memory[onlyName[1]], "tData":{}};
							$scope.msgToShow.push(completeToShow);

                            /*for(var id in $scope.transactionHistory) {

                                if ($scope.transactionHistory[id].sid == messageId) {
                                    $scope.$apply(function(scop){
                                        console.log("entro?");
                                        //$scope.msgToShow.push(completeToShow);
                                        completeToShow.tData =  $scope.transactionHistory[id];
                                        $scope.msgToShow.push(completeToShow);
                                      //  $scope.msgToShow.tData = $scope.transactionHistory[id];
                                        console.log($scope.msgToShow);
                                    });

                                    break;
                                }
                            }*/
						});
					}
				}else {
					var onlyName = noPar.split(" ");
					$scope.$apply(function(scop){
						var completeToShow = {"name": noPar, "value" : $scope.memory[onlyName[1]], "tData":{}};
						$scope.msgToShow.push(completeToShow);
                       /* for(var id in $scope.transactionHistory) {

                            if ($scope.transactionHistory[id].sid == messageId) {
                                $scope.$apply(function(scop){
                                    console.log("entro?");
                                    completeToShow.tData = $scope.transactionHistory[id];
                                  //  $scope.msgToShow.tData = $scope.transactionHistory[id];
                                    $scope.msgToShow.push(completeToShow);
                                    console.log($scope.msgToShow);
                                });

                                break;
                            }
                        }*/
					});
				}
				$scope.$apply(function(scop){
					$scope.msgToShow.shift();
				});

			}
		}
		for(var id in $scope.transactionHistory) {

            if ($scope.transactionHistory[id].sid == messageId) {
                $scope.$apply(function(scop){
                    $scope.transactionToShow = $scope.transactionHistory[id];
                });

                break;
            }
        }
	}


	
	$scope.setRoleActive = function(){
		$scope.payment = false;
		var activeSid = {};
		for(var i in $scope.msgs){
			if($scope.msgs[i].status == 1){
				$scope.msgs[i].show = 1;
				activeSid = $scope.msgs[i].ID;
				$scope.activeSid = activeSid;
				$scope.msgs[i].status = "Enabled";
				if($scope.actualContract.tasks[i].includes("payment")){
					$scope.payment = true;
				}
				highlightmsg(activeSid);
				//console.log("dentro i" + $scope.activeSid);
				//console.log("dentro set role active: "+ $scope.actualContract.taskIdAndRole[activeSid]);
				$scope.currentRole = $scope.actualContract.taskIdAndRole[activeSid];
				//console.log($scope.actualContract.tasks[i]);
				
			}
			else if($scope.msgs[i].status == 0){
				$scope.msgs[i].status = "Disabled";
			}
			else if($scope.msgs[i].status == 2){
				$scope.msgs[i].status = "Done";
			}
		}
	
	}
	
	$scope.addMeta = function(){
		$window.addEventListener("load", function() {
		    if (typeof web3 !== "undefined") {
		     web3 = new Web3(web3.currentProvider);
		     //console.log(web3);
		      //web3.eth.getAccounts().then(console.log);
		    } else {
		      console.log("No web3? You should consider trying MetaMask!");
		    }

		  });
	}
	
	
	
	function sub(refresh){
		for(var type in $scope.abi){
			if($scope.abi[type].name=="stateChanged"){
				$scope.inputs = $scope.abi[type].inputs;
			}
		}
		//console.log("dentro il sub");
		$scope.myContract.events.stateChanged((error, result) => {
			const eventObj = web3.eth.abi.decodeLog(
		            $scope.inputs,
		            result.data,
		            result.topics
		          )
		        $scope.actualContract =  null;
				$scope.tasks = null;
				$scope.valueNames = null;
		        $scope.getTask(refresh);
		        $scope.getPast();
		});

			}



	
	
	$scope.addMeta();
	$scope.getUserContracts();
	$scope.setUser();
	
	//deve partire quando clicco contratto sub();
	$scope.getXml = function(filename){
		$http.post("rest/getXml/" + filename).then(function(response){
			$scope.model = response.data;
			//console.log($scope.model);
		});
	}
	
});


	
</script>
</html>