body{
	background-color: #eee;
}

/* ***********************     index.html       **********************************/
.myformIndex{
	width: 500px;
    margin: 200px auto;
}


/* ***********************     deploy.html       **********************************/


/* ***********************     homePage.html       **********************************/


#subAs{
	width: 200px;
}

video{
	margin-top: 80px;
}