/* line 1, styles/app.less */
* {
  box-sizing: border-box;
}
/* line 5, styles/app.less */
body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}
/* line 18, styles/app.less */
a:link {
  text-decoration: none;
}
/* line 22, styles/app.less */
.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
/* line 28, styles/app.less */
.content #canvas {
  flex-grow: 1;
}
/* line 32, styles/app.less */
.content > .message {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  font-size: 16px;
  color: #111;
}
/* line 41, styles/app.less */
.content > .message .note {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
/* line 48, styles/app.less */
.content > .message.error .details {
  max-width: 500px;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
  color: #BD2828;
}
/* line 56, styles/app.less */
.content > .message.error pre {
  border: solid 1px #BD2828;
  background: #fefafa;
  padding: 10px;
  color: #BD2828;
}
/* line 64, styles/app.less */
.content:not(.with-error) .error,
.content.with-error .intro,
.content.with-diagram .intro {
  display: none;
}
/* line 70, styles/app.less */
.content .canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 78, styles/app.less */
.content .canvas {
  display: none;
}
/* line 83, styles/app.less */
.content.with-diagram .canvas {
  display: block;
}
/* line 90, styles/app.less */
.buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 99, styles/app.less */
.buttons > li {
  display: inline-block;
  margin-right: 10px;
}
/* line 103, styles/app.less */
.buttons > li > a {
  background: #DDD;
  border: solid 1px #666;
  display: inline-block;
  padding: 5px;
}
/* line 111, styles/app.less */
.buttons a {
  opacity: 0.3;
}
/* line 115, styles/app.less */
.buttons a.active {
  opacity: 1;
}
